.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
body {
  margin: 0;
  padding: 0;  
  background: url('../public/Images/fondo-estrellas.gif') repeat;
}

.content-box {
  background-color: rgba(252, 237, 74, 0.11);
  border: 5px solid #FCEE4A; /* Borde gris claro */
  border-radius: 20px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  max-width: 50%; /* Ancho máximo del recuadro */
  margin: 20px auto; /* Centra el recuadro horizontalmente */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
  margin-top: 5%;
  height: 65vh;
}
